In [5]:
import pandas as pd
import numpy as np
import re
datafile = 'books.csv'

In [6]:
def var(n):
    a = (n+2)%3+1
    return a
var(2)

2

1. Upload data set books.csv

In [7]:
df = pd.read_csv(datafile)
df = df.fillna('-')
df

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,-
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,-
208,Animal Farm,"Orwell, George",fiction,classic,180,-
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,-
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,-

2. Create a new column in the DataFrame created in task 5 with the numbers
from title. If there are several numbers in the title, join them by ‘+’ (for
example, ‘39+1’).

In [30]:
df['NumbersFromTitle'] = df['Title'].str.findall("\d+").str.join("+")
df[150:]

,Title,Author,Genre,SubGenre,Height,Publisher,NumbersFromTitle
150,Batman: The Long Halloween,-,fiction,comic,258,-,
151,"Life in Letters, A","Steinbeck, John",nonfiction,autobiography,196,-,
152,"Information, The","Gleick, James",science,mathematics,233,-,
153,"Journal of Economics, vol 106 No 3",-,science,economics,235,-,106+3
154,Elements of Information Theory,"Thomas, Joy",tech,signal_processing,229,-,
...,...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,-,
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,-,
208,Animal Farm,"Orwell, George",fiction,classic,180,-,
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,-,
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,-,

In [28]:
df_task2 = df['NumbersFromTitle'] = df['Title'].str.findall("\d+").str.join("+")
df_task2[150:]

150
151
152
153    106+3
154
       ...
206
207
208
209
210
Name: Title, Length: 61, dtype: object

3. Find books that published by publisher with 0 or 1 vowel in its name.

In [20]:
df_task3 = df[df["Publisher"].str.count("[AEIOU]*[aeiou]")<=1]
df_task3

,Title,Author,Genre,SubGenre,Height,Publisher,NumbersFromTitle
8,Image Processing & Mathematical Morphology,"Shih, Frank",tech,signal_processing,241,CRC,
10,Data Scientists at Work,Sebastian Gutierrez,tech,data_science,230,Apress,
13,Structure & Interpretation of Computer Programs,"Sussman, Gerald",tech,computer_science,240,MIT Press,
16,Statistical Decision Theory',"Pratt, John",tech,data_science,236,MIT Press,
17,Data Mining Handbook,"Nisbet, Robert",tech,data_science,242,Apress,
...,...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,-,
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,-,
208,Animal Farm,"Orwell, George",fiction,classic,180,-,
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,-,
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,-,

4. Find authors whose last name starts and ends with consonants.

In [27]:
df_task4 = df[df["Author"].str.extract('(\w+)')[0].fillna("").str.match("^[^AEIOU]*[^aeiou]$")]
df_task4

,Title,Author,Genre,SubGenre,Height,Publisher,NumbersFromTitle
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,
5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",tech,data_science,230,Springer,
...,...,...,...,...,...,...,...
201,Girl with the Dragon Tattoo,"Larsson, Steig",fiction,novel,179,-,
202,Girl who kicked the Hornet's Nest,"Larsson, Steig",fiction,novel,179,-,
203,Girl who played with Fire,"Larsson, Steig",fiction,novel,179,-,
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,-,
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,-,

5. Find books with the maximum number of vowels in its title.

In [42]:
df['MaxTitleVowels'] = df['Title'].str.count("[AEIOUaeiou]")
df.sort_values('MaxTitleVowels').tail(1)

,Title,Author,Genre,SubGenre,Height,Publisher,NumbersFromTitle,MaxTitleVowels
115,Clash of Civilizations and Remaking of the Wor...,"Huntington, Samuel",nonfiction,history,228,Simon&Schuster,,17

In [43]:
df[(df.Height == 228)]

,Title,Author,Genre,SubGenre,Height,Publisher,NumbersFromTitle,MaxTitleVowels
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,,8
115,Clash of Civilizations and Remaking of the Wor...,"Huntington, Samuel",nonfiction,history,228,Simon&Schuster,,17
160,Statistical Learning Theory,"Vapnik, Vladimir",tech,data_science,228,-,,9

6. Find books with 2 lettered words in the title

In [120]:
df[df["Title"].str.count("[A-Z][a-z]*")==2]

,Title,Author,Genre,SubGenre,Height,Publisher,NumbersFromTitle,MaxTitleVowels,LastNameLetters,CalculatedLastName,WordsInTitle
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,,8,7.0,7.0,"[Fundamentals, of, Wavelets]"
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,,3,7.0,7.0,"[Data, Smart]"
11,Slaughterhouse Five,"Vonnegut, Kurt",fiction,classic,198,Random House,,8,8.0,8.0,"[Slaughterhouse, Five]"
12,Birth of a Theorem,"Villani, Cedric",science,mathematics,234,Bodley Head,,6,7.0,7.0,"[Birth, of, a, Theorem]"
15,"Trial, The","Kafka, Frank",fiction,classic,198,Random House,,3,5.0,5.0,"[Trial,, The]"
...,...,...,...,...,...,...,...,...,...,...,...
204,Batman Handbook,-,fiction,comic,270,-,,5,NaN,NaN,"[Batman, Handbook]"
205,Murphy's Law,-,philosophy,psychology,178,-,,2,NaN,NaN,"[Murphy's, Law]"
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,-,,7,3.0,3.0,"[Structure, and, Randomness]"
208,Animal Farm,"Orwell, George",fiction,classic,180,-,,4,6.0,6.0,"[Animal, Farm]"
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,-,,4,10.0,10.0,"[Idiot,, The]"

In [116]:
df_task6 = df[df["Title"].re.findall(".{2}")
['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff', 'ggg']0]
df_task6

SyntaxError: invalid syntax (<ipython-input-116-b8eeea8e56ca>, line 2)

In [87]:
def count_words(string):
    return string.split(' ')

df['WordsInTitle'] = df['Title'].apply(count_words)
df

,Title,Author,Genre,SubGenre,Height,Publisher,NumbersFromTitle,MaxTitleVowels,LastNameLetters,CalculatedLastName,WordsInTitle
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,,8,7.0,7.0,"[Fundamentals, of, Wavelets]"
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,,3,7.0,7.0,"[Data, Smart]"
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,,8,7.0,7.0,"[God, Created, the, Integers]"
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,,7,6.0,6.0,[Superfreakonomics]
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,,5,4.0,4.0,[Orientalism]
...,...,...,...,...,...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,-,,7,3.0,3.0,"[Structure, and, Randomness]"
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,-,,9,6.0,6.0,"[Image, Processing, with, MATLAB]"
208,Animal Farm,"Orwell, George",fiction,classic,180,-,,4,6.0,6.0,"[Animal, Farm]"
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,-,,4,10.0,10.0,"[Idiot,, The]"
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,-,,5,7.0,7.0,"[Christmas, Carol,, A]"

7. Find author with 3 consonant in row in first name.

In [69]:
df_task7 = df[df["Author"].str.extract("(\w+)(, )(\w+)(\w+)")[2].fillna("").str.contains("[^AEIOUaeiou]{3}")]
df_task7

,Title,Author,Genre,SubGenre,Height,Publisher,NumbersFromTitle,MaxTitleVowels,LastNameLetters,CalculatedLastName
26,"Beautiful and the Damned, The","Deb, Siddhartha",nonfiction,history,198,Penguin,,10,3.0,3.0
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,,10,5.0,5.0
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,,11,5.0,5.0
56,Textbook of Economic Theory,"Stonier, Alfred",tech,economics,242,Pearson,,10,7.0,7.0
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall,,7,9.0,9.0
61,Principles of Communication Systems,"Taub, Schilling",tech,signal_processing,240,TMH,,11,4.0,4.0
62,Let Us C,"Kanetkar, Yashwant",tech,computer_science,213,Prentice Hall,,2,8.0,8.0
66,"Argumentative Indian, The","Sen, Amartya",nonfiction,history,209,Picador,,10,3.0,3.0
68,"Idea of Justice, The","Sen, Amartya",philosophy,economics,212,Penguin,,8,3.0,3.0
89,On Education,"Russell, Bertrand",philosophy,education,203,Routledge,,6,7.0,7.0
101,Identity & Violence,"Sen, Amartya",philosophy,philosophy,219,Penguin,,7,3.0,3.0
112,History of Western Philosophy,"Russell, Bertrand",philosophy,philosophy,213,Routledge,,8,7.0,7.0
114,Rationality & Freedom,"Sen, Amartya",science,economics,213,Springer,,8,3.0,3.0
123,Unpopular Essays,"Russell, Bertrand",philosophy,philosophy,198,-,,6,7.0,7.0
172,Pointers in C,"Kanetkar, Yashwant",tech,computer_science,213,-,,4,8.0,8.0
184,"Justice, Judiciary and Democracy","Ranjan, Sudhanshu",nonfiction,legal,224,-,,11,6.0,6.0

8. Find the author with 5 letters in the last names

In [63]:
df["CalculatedLastName"] = df["Author"].str.extract("(\w+)(, )(\w+)(\w+)")[0].str.count("\w")
df_task8 = df[df['CalculatedLastName']==5]['Author']
df_task8

14          Eraly, Abraham
15            Kafka, Frank
16             Pratt, John
27           Camus, Albert
28     Doyle, Arthur Conan
29     Doyle, Arthur Conan
30             Smith, Adam
33          Capra, Fritjof
44          Capra, Fritjof
54              Dylan, Bob
55            Gupta, Madan
65              Brown, Dan
67           Ghosh, Amitav
72           Nayar, Kuldip
111            Aczel, Amir
116         Capra, Fritjof
121      Nehru, Jawaharlal
133           Singh, Simon
136           Singh, Simon
156             Mohan, Ned
166     Baz-Zohar, Michael
168           Verne, Jules
181            Sagan, Carl
189         Zaidi, Hussain
195             Brown, Dan
Name: Author, dtype: object